/* Estilos gerais de navbar e seção de adicionar cliente */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #072150; /* Cor de fundo da navbar */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-logo img, .nav-user img {
  height: 40px;
  cursor: pointer;
  filter: invert(1);
}

.nav-logo img:hover, .nav-user img:hover {
  filter: grayscale(5%);
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #072150; /* Cor de fundo da seção de título */
  color: #fff; /* Cor do texto */
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-header h1 {
  font-size: 1.8rem;
  margin: 0;
}

/* Estilos para o container do card */
.card-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
}

/* Estilos para o container do formulário */
.form-container {
  display: flex;
  flex-direction: column;
}

/* Ajuste para o container de campos */
.section {
  margin-bottom: 20px;
}

.section h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #072150; /* Cor do título da seção */
  border-bottom: 2px solid #007bff; /* Linha abaixo do título */
  padding-bottom: 5px;
}

.field-container {
  margin-bottom: 15px;
  width: 100%;
}

.field-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333; /* Cor do texto do label */
}

.field-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f9f9f9; /* Cor de fundo do input */
  color: #333; /* Cor do texto do input */
  transition: background-color 0.3s, border-color 0.3s;
}

.field-container input:focus {
  background-color: #ffffff; /* Cor de fundo ao focar */
  border-color: #007bff; /* Cor da borda ao focar */
}

#submit-button {
  width: 200px;
  font-size: 1.2rem;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#submit-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .card-container {
    padding: 15px;
  }

  .field-container input {
    width: 100%;
  }
}
