/* Adiciona estilo para a lista de clientes */
.client-list {
  margin-top: 20px;
}

.client-list input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.client-list div {
  list-style-type: none;
  padding: 0;
}

.client-list div div {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
}
